/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    outline: 1px solid red;
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-color: #0891b2;
    --bg-color: white;
    --card-color-1: #9e1c1c;
    --card-color-2: #7c75ca;
    --card-color-3: #c363b4;
    --card-color-4: #d88f39;
    --card-color-5: #453218;
    --card-color-6: #5e8f4d;
}
.header-visuals {
    padding-top: 1rem;
    position: relative;
    z-index: 0;
}
.header-visuals::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 95%);
    z-index: -1;
}
figure > img, 
.contact-img > img {
    max-width: 100%;
    object-fit: cover;
}
figure > img {
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
figure {
    position: relative;
    
}
figure > figcaption {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    line-height: 1.1;
}
figcaption > h1 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 0;
    text-shadow: #82e0d0 1px 0 10px;
}
.header-content > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}