/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    outline: 1px solid red;
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-color: #0891b2;
    --bg-color: white;
    --card-color-1: #9e1c1c;
    --card-color-2: #7c75ca;
    --card-color-3: #c363b4;
    --card-color-4: #d88f39;
    --card-color-5: #453218;
    --card-color-6: #5e8f4d;
}
.header-visuals {
    padding-top: 1rem;
    position: relative;
    z-index: 0;
}
.header-visuals::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 95%);
    z-index: -1;
}
figure > img {
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 20px -4px rgb(0, 0, 0);
}
figure {
    position: relative;
    
}
figure > figcaption {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    line-height: 1.1;
}
figcaption > h1 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin: 0;
    text-shadow: #82e0d0 1px 0 10px;
}
.header-content {
    padding: 0rem 1.3rem 1rem 1.3rem;
    background-color: var(--bg-color);
    margin-bottom: 2rem;
}
.header-content > h2 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    margin: 1rem 0 0.8rem 0;
    text-align: center;
}
.header-content > p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #444;
}
.header-content > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}
main > h2 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    margin: 1rem 0 0.8rem 0;
    text-align: center;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem 1rem;
    padding: 2rem;
}
.card {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 20px -4px rgb(0, 0, 0);
    /* border-radius: 0.5rem;
    overflow: hidden; */
}
.work-img {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}
.work-img > h3 {
    text-align: center;
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
}
.img-1 {
    background-color: var(--card-color-1);
}

.contact-img > img {
    max-width: 100%;
    object-fit: cover;
}