/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --primary-color: #0891b2;
    --bg-color: white;
    --card-color-1: #9e1c1c;
    --card-color-2: #7c75ca;
    --card-color-3: #c363b4;
    --card-color-4: #d88f39;
    --card-color-5: #453218;
    --card-color-6: #5e8f4d;
}
.header {
    padding: 2rem 0;
    position: relative;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 90%);
    height: 70vh;
}
.header .container {
    background-color: white;
    width: 88%;
    margin: 0 auto;
    max-width: 1280px;
}
.hero-img {
    position: relative;
}
.hero-img > img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 20px -4px rgb(0, 0, 0);
}
.hero-img > h1 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 0;
    text-shadow: #82e0d0 1px 0 10px;
    letter-spacing: 0.15rem;
}
.container > h2 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    margin: 1rem 0 0.8rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
}
.container > p {
    text-align: left;
    line-height: 1.5;
    font-size: 1.2rem;
    color: #444;
    letter-spacing: 0.03rem;
}
.container > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}
main > h2 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    margin: 1rem 0 0.8rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem 1rem;
    padding: 2rem;
}
.card {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 20px -4px rgb(0, 0, 0);
    border-radius: 0.5rem;
    overflow: hidden;
}
.work-img {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}
.work-img > h3 {
    text-align: center;
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.1rem;
    letter-spacing: 0.05rem;
}
.work-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 160px;
}
.work-info > p {
    margin: 0;
    text-align: left;
    line-height: 1.2;
    font-size: 1.1rem;
    color: #444;
    letter-spacing: 0.01rem;
}
.work-title-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.work-title-links > h3{
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05rem;
}
.work-title-links > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.work-title-links > nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-1 {
    background-color: var(--card-color-1);
}
.img-2 {
    background-color: var(--card-color-2);
}
.img-3 {
    background-color: var(--card-color-3);
}
.img-4 {
    background-color: var(--card-color-4);
}
.img-5 {
    background-color: var(--card-color-5);
}
.img-6 {
    background-color: var(--card-color-6);
}

footer {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-text, .contact-img {
    flex: 1 1 300px;
}
.contact-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contact-text h2 {
    font-family: 'Playfair Display', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    margin: 0;
}
.contact-text h3 {
    font-size: 2.1rem;
    font-size: 1.25rem;
    letter-spacing: 0.02rem;
    line-height: 1.3;
    font-weight: 370;
    margin: 0;
}
.contact-text > div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.contact-text > div > span {
    letter-spacing: 0.01rem;
}
.contact-text-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-text-info > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.contact-text-info img {
    filter: invert(100%);
}
.contact-text-info a {
    list-style: none;
    color: white;
    text-decoration: none;
    letter-spacing: 0.01rem;
    transition: color 0.3s ease;
}
.contact-text-info a:hover {
    cursor: pointer;
    color: var(--card-color-5);
}
.contact-text-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.contact-img {
    min-height: 400px;
    position: relative;
}
.contact-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* =========================================
   TABLET LAYOUT (768px and up)
   ========================================= */
@media screen and (min-width: 768px) {
    .header {
        padding: 8rem 0 0 0;
        margin-bottom: 3rem;
    }
    .header .container {
        position: relative;
        width: 80%;
        padding: 2rem;
        box-shadow: 0px 0px 20px -4px rgb(0, 0, 0);
    }
    .hero-img {
        width: 350px;
        height: 350px;
        display: inline;
        float: left;
        padding: 1rem;
        margin: -1rem 0.5rem 0.2rem -6rem;
    }
    .hero-img img{
        width: 400px;
        height: 450px;
        margin: -8rem 0 0 0 ;
    }
    .hero-img h1 {
        top: -6rem;
        left: 22rem;
        white-space: nowrap;
        color: rgb(255, 255, 255);
    }
    .container > ul {
        margin-top: 2rem;
    }
    main {
        background-color: white;
        position: relative;
    }
    main > h2 {
        padding-left: 4rem;
        text-align: left;
    }
    .projects-grid {
        padding: 0 4rem 8rem 4rem;
        gap: 3rem 2rem;
    }
    footer {
        padding: 2rem;
        flex-wrap: nowrap;
    }
    .contact-text, .contact-img {
        flex: 1;
    }
    .contact-text {
        text-align: left;
    }
    .contact-text h2{
        text-align: left;
    }
    .contact-text-info ul {
        justify-content: flex-start;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 4rem 0;
    }
    .header .container {
        max-width: 800px;
    }
    .hero-img {
        margin: 4rem 0.5rem 0.2rem -6rem; 
    }
    .hero-img h1 {
        top: -6rem;
        left: 2rem;
        color: #222;
        white-space: wrap;
        max-width: 210px;
    }
    .hero-img img{
        width: 600px;
        height: 520px;
        margin: -8rem 0 0 0 ;
    }
    .container > h2 {
        text-align: left;
    }
    .container > ul {
        justify-content: flex-end;
    }
    .projects-grid {
        padding: 2rem 2.2rem 6rem 2.2rem;
        gap: 2rem 1rem;
    }
    .contact-text {
        flex-basis: 40%;
    }
    .contact-img {
        flex-basis: 60%;
    }
    footer {
        padding: 3rem;
    }
}


@media screen and (min-width: 1280px) {
  /* .header::before {
    height: 60vh;
  } */
  main {
    max-width: 1140px;
    margin: 0 auto;
  }
}